In [1]:
# Show plots inline
%matplotlib inline

# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [7]:
df = pd.read_csv('/content/drive/MyDrive/SQL/my files/learning/ML/my projects 29apr24/fraud account detection/Datasets.csv')

In [8]:
df.head()

,Unnamed: 0,step,type,branch,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,unusuallogin,isFlaggedFraud,Acct type,Date of transaction,Time of day,isFraud
0,0,1,PAYMENT,Indonesia,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,9,0,Current,3/1/2018,Morning,0.0
1,1,1,PAYMENT,India,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,10,0,Savings,5/1/2018,Morning,0.0
2,2,1,TRANSFER,India,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,2,0,Current,7/1/2018,Morning,1.0
3,3,1,CASH_OUT,Australia,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,Current,6/1/2018,Afternoon,1.0
4,4,1,PAYMENT,Australia,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,17,0,Current,6/1/2018,Morning,0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10127 non-null  int64
 1   step                 10127 non-null  int64
 2   type                 10123 non-null  object
 3   branch               10127 non-null  object
 4   amount               10125 non-null  float64
 5   nameOrig             10121 non-null  object
 6   oldbalanceOrg        10125 non-null  float64
 7   newbalanceOrig       10127 non-null  float64
 8   nameDest             10121 non-null  object
 9   oldbalanceDest       10126 non-null  float64
 10  newbalanceDest       10125 non-null  float64
 11  unusuallogin         10127 non-null  int64
 12  isFlaggedFraud       10127 non-null  int64
 13  Acct type            10117 non-null  object
 14  Date of transaction  10120 non-null  object
 15  Time of day          10125 non-null  object
 16  isFraud              10125 non-null  float64
dtypes: float64(6), int64(4), object(7)
memory usage: 1.3+ MB

In [13]:
df["isFraud"].unique()

array([ 0.,  1., nan])

In [3]:
%load_ext sql
%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%%sql
create local temp table b1
(upi_id varchar(100)) on commit preserve rows;

 * sqlite:///chinook.db
(sqlite3.OperationalError) near "local": syntax error
[SQL: create local temp table b1
(upi_id varchar(100)) on commit preserve rows;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
%%sql
select * from df;

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such table: df
[SQL: select * from df;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)